<div class="contenidorPerfil">
    <div class="contenidorTitol">
        <h3><b>Panel de control</b></h3>
    </div>
    <div class="llistaInputs">
       
       <div class="row separacio">
           <div class="col-4"><button type="button" class="btn btn-success boto" routerLink="/admin/categories/">Categories</button></div>
        </div>
        <div class="row separacio">
           <div class="col-4"><button type="button" class="btn btn-success boto" routerLink="/admin/subcategories/">Sub Categories</button></div>
        </div>
        <div class="row separacio">
           <div class="col-4"><button type="button" class="btn btn-success boto" routerLink="/admin/productes/">Productes</button></div>
        </div>
        
        <!-- CATEGORIES -->
       <div class="row separacio">

         <div class="col-11">
         
        </div>
                   
        </div>
        <!-- fi categories -->
    </div>
</div>