.contenidorPerfil {
    width: 50%;
    height:100%;
    margin: auto;
    margin-top: 40px;
}
.contenidorTitol {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid;
    border-color: #4D94FF;
}
.llistaInputs {

    margin: auto;
    margin-top: 40px;
}

.separacio{
    margin-top: 20px;
}
.boto{
    margin: 20px 20px 20px 20px;
}
.btn-info {
color: #fff !important;
background-color: #17a2b8 !important;
border-color: #17a2b8 !important;
}
.marge{
    margin-left: 15px;
}