<footer id="myFooter">
    <div class="container">
        <div class="row" style="padding-left: 200px;">
            <div class="col-sm-3 myCols">
                <h5>Sobre nosaltres</h5>
                <ul>
                    <li><a href="/quisom">Qui som</a></li>
                    <li><a href="/contacte">Contacta'ns</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Suport</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Ajuda</a></li>
                    <li><a href="#">Fòrums</a></li>
                </ul>
            </div>
            <div class="col-sm-3 myCols">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#">Termes del servei</a></li>
                    <li><a href="#">Condicions d'ús</a></li>
                    <li><a href="#">Política de Privacitat</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="social-networks">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    </div>
</footer>