<header class="c-main-header" [ngStyle]="{'background-color':user.role == 1 ? 'black' : '' }">
    <a routerLink="/">
       <img src="./assets/logo.png"  style=" width: 100px; padding-top: 5px !important;margin-right: 50px !important;" >
    </a>
        <div class="primer">

            <nav class="navbar navbar-default" role="navigation" style="bottom: 4px !important">

                <div class="navbar-header" id="open">

                    <button href="#" class="c-main-header__trigger qa-menu-button mkt-trigger-menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars fa-3x"></i>
                    </button>


            <ul class="dropdown-menu">
                <div class="c-main-menu__top-bar"><h3 class="c-main-menu__name">TODAS LAS SECCIONES</h3></div>
                 <ul class="c-main-menu__superlist">




                 <li class="c-main-menu__superitem" data-pcc-trigger="toggle-menu-bg" data-pcc-event="hover" data-pcc-group="menu-bg"><a id="GTM-superfamilia-1"  class="c-main-menu__superlink c-main-menu__superlink--1 mkt-menu-level1" title="Componentes">
Componentes
</a><span class="c-main-menu__super-trigger mkt-menu-level1" data-pcc-trigger="toggle-superfamilia-1" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true"></span><div class="c-main-menu__superblock c-main-menu__superblock--1" data-pcc-listen="toggle-superfamilia-1" data-pcc-class="is-active" data-pcc-group="superfamilias-desplegables" data-pcc-active="0" data-pcc-id-listener="5"><div class="c-main-menu__top-bar c-main-menu__top-bar--sub"><h4 class="c-main-menu__name"><a class="mkt-menu-level1"  title="Componentes">Componentes</a></h4><span role="button" class="c-main-menu__toggle" data-pcc-trigger="toggle-superfamilia-1" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true">0</span></div><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Pc a Medida
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Configurador de PCs">Configurador de PCs
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Componentes
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Placas Base">Placas Base
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Procesadores">Procesadores
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Discos Duros">Discos Duros
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Tarjetas Gráficas">Tarjetas Gráficas
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Memoria RAM">Memoria RAM
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Grabadoras DVD/Blu Ray">Grabadoras DVD/Blu Ray
</a></li>
                     </ul>
<ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Sistemas Operativos
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Sistemas operativos">Sistemas operativos
 </a></li></ul></div></li>

 <li class="c-main-menu__superitem" data-pcc-trigger="toggle-menu-bg" data-pcc-event="hover" data-pcc-group="menu-bg"><a id="GTM-superfamilia-119"  class="c-main-menu__superlink c-main-menu__superlink--119 mkt-menu-level1" title="Ordenadores">
Ordenadores
</a><span class="c-main-menu__super-trigger mkt-menu-level1" data-pcc-trigger="toggle-superfamilia-119" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true"></span><div class="c-main-menu__superblock c-main-menu__superblock--119" data-pcc-listen="toggle-superfamilia-119" data-pcc-class="is-active" data-pcc-group="superfamilias-desplegables" data-pcc-active="0" data-pcc-id-listener="6"><div class="c-main-menu__top-bar c-main-menu__top-bar--sub"><h4 class="c-main-menu__name"><a class="mkt-menu-level1"  title="Ordenadores">Ordenadores</a></h4><span role="button" class="c-main-menu__toggle" data-pcc-trigger="toggle-superfamilia-119" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true">0</span></div><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Portátiles
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles">Portátiles
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles Gaming">Portátiles Gaming
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles 2 en 1 Convertibles">Portátiles 2 en 1 Convertibles
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles SSD">Portátiles SSD
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Ultrabooks">Ultrabooks
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles WorkStation">Portátiles WorkStation
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Maletines y fundas">Maletines y fundas
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Mochilas de portátil">Mochilas de portátil
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Cargadores de baterías">Cargadores de baterías
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Accesorios Portátiles">Accesorios Portátiles
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Repuestos Portátiles ">Repuestos Portátiles
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Configura tu PC
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Configurador">Configurador
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Tablets
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="TabletPC">TabletPC
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Pcs Sobremesa
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Ordenadores Pccom">Ordenadores Pccom
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Configurador de PCs">Configurador de PCs
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Sobremesa">Sobremesa
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Mini PCs">Mini PCs
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Ordenadores todo en uno">Ordenadores todo en uno
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Barebones">Barebones
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Servidores">Servidores
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Ordenadores PcCom Modding">Ordenadores PcCom Modding
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Portátiles Por Marcas
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles Acer">Portátiles Acer
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles Apple">Portátiles Apple
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles Asus">Portátiles Asus
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles Dell">Portátiles Dell
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles HP">Portátiles HP
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles Lenovo">Portátiles Lenovo
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles MSI">Portátiles MSI
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Portátiles Toshiba">Portátiles Toshiba
</a></li></ul></div></li>






<li class="c-main-menu__superitem" data-pcc-trigger="toggle-menu-bg" data-pcc-event="hover" data-pcc-group="menu-bg"><a id="GTM-superfamilia-237"  class="c-main-menu__superlink c-main-menu__superlink--237 mkt-menu-level1" title="SmartPhones">
SmartPhones
</a><span class="c-main-menu__super-trigger mkt-menu-level1" data-pcc-trigger="toggle-superfamilia-237" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true"></span><div class="c-main-menu__superblock c-main-menu__superblock--237" data-pcc-listen="toggle-superfamilia-237" data-pcc-class="is-active" data-pcc-group="superfamilias-desplegables" data-pcc-active="0" data-pcc-id-listener="7"><div class="c-main-menu__top-bar c-main-menu__top-bar--sub"><h4 class="c-main-menu__name"><a class="mkt-menu-level1"  title="SmartPhones">SmartPhones</a></h4><span role="button" class="c-main-menu__toggle" data-pcc-trigger="toggle-superfamilia-237" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true">0</span></div><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Smartphones
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Smartphones">Smartphones
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Móviles Básicos">Móviles Básicos
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Fundas Smartphone">Fundas Smartphone
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Protectores Smartphone">Protectores Smartphone
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" >Tarjetas MicroSD
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Powerbanks">Powerbanks
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Accesorios Smartphone">Accesorios Smartphone
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Accesorios Universales">Accesorios Universales
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Gafas de Realidad Virtual">Gafas de Realidad Virtual
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Memorias MicroUSB">Memorias MicroUSB
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" title="Repuestos Smartphone">Repuestos Smartphone
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Fundas y carcasas personalizadas
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Carcasas personalizadas">Carcasas personalizadas
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
 GPS
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="GPS Automoción">GPS Automoción
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Mundo iPhone
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="iPhone">iPhone
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Accesorios iPhone">Accesorios iPhone
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" title="Memorias USB Lightning">Memorias USB Lightning
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Auriculares iPhone">Auriculares iPhone
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Repuestos iPhone">Repuestos iPhone
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Wearables
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Wearables">Wearables
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Relojes Smartwatch">Relojes Smartwatch
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Pulseras de Actividad">Pulseras de Actividad
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Relojes Running">Relojes Running
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Accesorios Smartwatch">Accesorios Smartwatch
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Auriculares Bluetooth Deportivos">Auriculares Bluetooth Deportivos
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Automóvil
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Accesorios Automóvil">Accesorios Automóvil
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Car Audio/Auto Radios">Car Audio/Auto Radios
</a></li></ul></div></li><li class="c-main-menu__superitem" data-pcc-trigger="toggle-menu-bg" data-pcc-event="hover" data-pcc-group="menu-bg"><a id="GTM-superfamilia-28"  class="c-main-menu__superlink c-main-menu__superlink--28 mkt-menu-level1" title="Periféricos">
Periféricos
</a><span class="c-main-menu__super-trigger mkt-menu-level1" data-pcc-trigger="toggle-superfamilia-28" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true"></span><div class="c-main-menu__superblock c-main-menu__superblock--28" data-pcc-listen="toggle-superfamilia-28" data-pcc-class="is-active" data-pcc-group="superfamilias-desplegables" data-pcc-active="0" data-pcc-id-listener="8"><div class="c-main-menu__top-bar c-main-menu__top-bar--sub"><h4 class="c-main-menu__name"><a class="mkt-menu-level1"  title="Periféricos">Periféricos</a></h4><span role="button" class="c-main-menu__toggle" data-pcc-trigger="toggle-superfamilia-28" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true">0</span></div><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Periféricos
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Monitores">Monitores
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Teclados">Teclados
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Ratones">Ratones
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Altavoces">Altavoces
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Auriculares">Auriculares
 <span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Sillas gaming">Sillas gaming
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Webcam/Cámaras Web">Webcam/Cámaras Web
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Gamepads/Joysticks">Gamepads/Joysticks
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Impresoras">Impresoras
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/multifunciones" title="Multifunciones">Multifunciones
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Impresoras 3D">Impresoras 3D
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Micrófonos">Micrófonos
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Almacenamiento
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Memorias USB">Memorias USB
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Tarjetas de Memoria">Tarjetas de Memoria
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3"  title="Discos Duros Externos">Discos Duros Externos
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Proyección y Accesorios
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/proyectores" title="Proyectores">Proyectores
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/presentadores-multimedia" title="Presentadores">Presentadores
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Básicos
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/regletas" title="Regletas">Regletas
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/conectividad" title="Conectividad">Conectividad
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/conectividad/hub" title="Hub USB">Hub USB
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/alfombrillas" title="Alfombrillas ratón">Alfombrillas ratón
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Software
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/juegos-pc" title="Juegos Para PC">Juegos Para PC
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/sistemas-operativos" title="Sistemas Operativos">Sistemas Operativos
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/software" title="Software oficina">Software oficina
</a></li></ul></div></li><li class="c-main-menu__superitem" data-pcc-trigger="toggle-menu-bg" data-pcc-event="hover" data-pcc-group="menu-bg"><a id="GTM-superfamilia-157" href="https://www.pccomponentes.com/audio-foto-video" class="c-main-menu__superlink c-main-menu__superlink--157 mkt-menu-level1" title="Audio/Foto/Vídeo">
Audio/Foto/Vídeo
</a><span class="c-main-menu__super-trigger mkt-menu-level1" data-pcc-trigger="toggle-superfamilia-157" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true"></span><div class="c-main-menu__superblock c-main-menu__superblock--157" data-pcc-listen="toggle-superfamilia-157" data-pcc-class="is-active" data-pcc-group="superfamilias-desplegables" data-pcc-active="0" data-pcc-id-listener="9"><div class="c-main-menu__top-bar c-main-menu__top-bar--sub"><h4 class="c-main-menu__name"><a class="mkt-menu-level1" href="https://www.pccomponentes.com/audio-foto-video" title="Audio/Foto/Vídeo">Audio/Foto/Vídeo</a></h4><span role="button" class="c-main-menu__toggle" data-pcc-trigger="toggle-superfamilia-157" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true">0</span></div><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
TV
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores" title="Televisores">Televisores
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/home-cinema" title="Home Cinema">Home Cinema
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/altavoces-tv-barras-sonido" title="Altavoces TV/Barras de Sonido">Altavoces TV/Barras de Sonido
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/monitores-pc" title="Monitores">Monitores
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/accesorios-de-soportes" title="Soportes TV/Monitor">Soportes TV/Monitor
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/proyectores" title="Proyectores">Proyectores
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/pantallas-de-proyeccion" title="Pantallas Proyección">Pantallas Proyección
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Fotografía
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/camaras-digitales" title="Cámaras Digitales">Cámaras Digitales
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/camaras-reflex" title="Cámaras Reflex">Cámaras Reflex
 <span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/accesorios-camaras" title="Accesorios Camaras">Accesorios Camaras
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/tarjetas-de-memoria" title="Tarjetas De Memoria">Tarjetas De Memoria
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/impresoras" title="Impresoras">Impresoras
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Audio Profesional y DJ
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/audio-pro" title="Audio Pro">Audio Pro
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/mundo-dj" title="Mundo DJ">Mundo DJ
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Audio
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/altavoces" title="Altavoces">Altavoces
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/microfonos" title="Micrófonos">Micrófonos
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/auriculares" title="Auriculares">Auriculares
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/grabadoras-digitales" title="Grabadoras Digitales">Grabadoras Digitales
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Vídeo
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/reproductores-blu-ray-dvd" title="Reproductores Blu Ray/DVD">Reproductores Blu Ray/DVD
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/capturadoras" title="Edición/Captura Vídeo">Edición/Captura Vídeo
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/videocamaras" title="Videocamaras">Videocamaras
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/receptores-tv" title="Receptores TV">Receptores TV
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/multimedia" title="Multimedia">Multimedia
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/camaras-ip" title="Cámaras IP">Cámaras IP
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/accesorios-camaras-deportivas" title="Accesorios Cámaras Deportivas">Accesorios Cámaras Deportivas
</a></li></ul>


</div></li><li class="c-main-menu__superitem" data-pcc-trigger="toggle-menu-bg" data-pcc-event="hover" data-pcc-group="menu-bg"><a id="GTM-superfamilia-649" href="https://www.pccomponentes.com/televisores" class="c-main-menu__superlink c-main-menu__superlink--649 mkt-menu-level1" title="Televisores">
Televisores
</a><span class="c-main-menu__super-trigger mkt-menu-level1" data-pcc-trigger="toggle-superfamilia-649" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true"></span><div class="c-main-menu__superblock c-main-menu__superblock--649" data-pcc-listen="toggle-superfamilia-649" data-pcc-class="is-active" data-pcc-group="superfamilias-desplegables" data-pcc-active="0" data-pcc-id-listener="10"><div class="c-main-menu__top-bar c-main-menu__top-bar--sub"><h4 class="c-main-menu__name"><a class="mkt-menu-level1" href="https://www.pccomponentes.com/televisores" title="Televisores">Televisores</a></h4><span role="button" class="c-main-menu__toggle" data-pcc-trigger="toggle-superfamilia-649" data-pcc-event="click" data-pcc-group="superfamilias-desplegables" aria-hidden="true">0</span></div><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Marcas
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores" title="> Ver todos los televisores"> Ver todos los televisores
<span title="Destacado" class="c-icon c-icon--outstanding-main-menu" aria-hidden="true"></span></a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores-samsung" title="Televisores Samsung">Televisores Samsung
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores-lg" title="Televisores LG">Televisores LG
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores-sony" title="Televisores Sony">Televisores Sony
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores-hisense" title="Televisores Hisense">Televisores Hisense
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/tv-philips" title="Televisores Philips">Televisores Philips
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Pulgadas
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores/16-pulgadas/19-pulgadas/20-pulgadas/22-pulgadas/24-pulgadas/28-pulgadas/32-pulgadas" title="Hasta 32 pulgadas">Hasta 32 pulgadas
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores-32-pulgadas" title="TV 32 pulgadas">TV 32 pulgadas
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/tv-40-pulgadas" title="TV 40 pulgadas">TV 40 pulgadas
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores-50-pulgadas" title="TV 50 pulgadas">TV 50 pulgadas
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores-55-pulgadas" title="TV 55 pulgadas">TV 55 pulgadas
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores/55-pulgadas/58-pulgadas/60-pulgadas/65-pulgadas/70-pulgadas/75-pulgadas" title="Televisores Grandes">Televisores Grandes
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Tipo de TV
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores/smart-tv" title="Smart TV">Smart TV
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores/3840-x-2160-4k-uhd" title="4K/UHD">4K/UHD
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores/curvos" title="Curvos">Curvos
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/televisores/qled" title="QLED">QLED
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Accesorios TV
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/accesorios-de-soportes/soporte-tv" title="Soportes TV">Soportes TV
 </a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/android-smart-tv" title="Android/Apple TV">Android/Apple TV
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/mandos-a-distancia" title="Mandos a distancia">Mandos a distancia
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/cables-hdmi" title="Cables HDMI">Cables HDMI
</a></li></ul><ul class="c-main-menu__catlist"><li class="c-main-menu__catname">
Home Audio
</li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/home-cinema" title="Home Cinema">Home Cinema
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/altavoces-tv-barras-sonido" title="Barras de Sonido y Altavoces TV">Barras de Sonido y Altavoces TV
</a></li><li class="c-main-menu__catitem"><a class="c-main-menu__catlink mkt-menu-level3" href="https://www.pccomponentes.com/altavoces/barra-de-sonido/torre-de-sonido" title="Torres de sonido">Torres de sonido
</a></li></ul></div></li>
            </ul>
                    </ul>




      </div>

                        <form class="c-search__form js-search-form" method="GET" action="https://www.pccomponentes.com/buscar/">
                            <input type="text" id="query" name="query" required="required" class="c-search__query qa-search-box mkt-search-query form-control" placeholder="Busca en PcUvic..." data- autocomplete="off">
                        </form>

            </nav>

        </div>
        <ul class="navbar-nav-icons">

           <a style="margin-right: 15px;" *ngIf="!logged" routerLink="/login">
               <i class="fa fa-sign-in fa-2x"></i> Login</a>

            <a *ngIf="logged" (click)="logout()"><i class="fa fa-sign-out fa-2x"></i> Logout</a>

            <a style="margin-right: 15px;" routerLink="/cart">
                <i class="fas fa-shopping-cart fa-2x"></i>Carro</a>
           <!-- <a style="margin-left: 15px;" routerLink="/categories"> <i class="fas fa-shopping-cart fa-2x"></i>Categoria</a> -->
        </ul>

</header>
