    <header class="c-main-header">
        <div class="c-main-header__col">
            <button class="c-main-header__trigger qa-menu-button mkt-trigger-menu" >    <i class="fa fa-bars fa-3x"></i></button>
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                </div>

                <div class="js-header-sep c-main-header__hor-sep"></div>

                <div class="c-main-header__col c-main-header__col--end">
                    <div class="c-search">
                        <div class="c-search__trigger js-search-trigger">
                            <i class="c-icon c-icon--bold">&nbsp;</i>
                        </div>
                        <form class="c-search__form js-search-form" method="GET" action="https://www.pccomponentes.com/buscar/">
                            <input type="text" id="query" name="query" required="required" class="c-search__query qa-search-box mkt-search-query form-control" placeholder="Busca en PcUvic..." data- autocomplete="off">
                        </form>
                    </div>
</div>


<ul class="nav navbar-nav navbar-right">
    <li> <a routerLink="/login">Login</a></li>
    <li> <a routerLink="/categories">Categoria</a></li>
    <li> <a routerLink="/cart"> <i class="fas fa-shopping-cart"></i></a></li>
</ul>

</nav>


</div>
</header>
