@charset "UTF-8";
.c-main-header {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem .5rem;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 3.84615rem;
    border-top: .38462rem solid #4d94ff;
    background: #fff;
    box-shadow: 0 .23077rem .38462rem 0 rgba(0, 0, 0, .25)
}

.navbar-nav-icons {
display: flex;
-ms-flex-direction: column;
margin-right: 200px;
margin-bottom: 0;
list-style: none;
margin-top: 15px;   
}
.glyphicon{
    font-size: 20px !important;
}

.c-main-header__back-btn.is-visible {
    display: flex;
    align-items: center;
    margin: 0 1.30769rem 0 .46154rem;
    height: 2.07692rem
}

.c-main-header__hor-sep {
    display: none;
    flex-grow: 2
}

.c-main-header__hor-sep.is-visible {
    display: flex
}

.c-main-header__col {
    position: absolute;
    display: initial;
    justify-content: space-between;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.c-main-header__col--start {
    flex-direction: row-reverse
}


.c-main-header__hidden-title {
    position: absolute;
    left: -300%
}

.c-main-header__trigger {
    padding: 0;
    margin-left: 150px !important;
    margin-top: 5px !important;
    cursor: pointer;
    color: #4d94ff;
    border: 0;
    background: 0 0
}

.c-user-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: flex-end;
    margin-bottom: -.30769rem
}

img {
    
}

.c-user-menu__item {
    display: flex;
    margin-left: .76923rem;
    max-width: 4.23077rem
}

.c-user-menu__item:last-child {
    padding-right: .92308rem
}


.c-user-menu__link__img-icon {
    width: 2.92308rem;
    height: auto
}

.c-search__form {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1.000rem;
    transform: scale(0)
}

.c-search__query {
    width: 100%;
    height: 3.38462rem;
    margin: 0 auto;
    padding-left: 3.38462rem;
    font-size: 1.15385rem;
    border: 2px solid #e1e1e1;
    border-radius: 1.76923rem
}

.c-search__query, .c-search__query:focus {
    background: #eee url(https://cdn.pccomponentes.com/img/css/lupa-buscador.png) 0 no-repeat
}


@media(min-width:768px) {
    .c-main-header {
        height: 5.09231rem
    }

    .c-main-header__back-btn.is-visible {
        margin: 0
    }

    .c-main-header__back-btn.is-visible:after {
        display: none
    }

    .c-main-header__hor-sep {
        flex-grow: inherit
    }

    .c-main-header__col--start {
        flex-direction: inherit
    }

    .c-main-header__col--end {
        flex: 1
    }

    .c-main-header__fake-logo-image {
        margin-left: 1rem;
        width: 11.07692rem;
        height: 4.46154rem
    }

    .c-main-header__trigger {
        width: 3.53846rem;
        height: 3.38462rem;
        margin-left: 4.15385rem;
        border: 2px solid #ccc;
        border-radius: .45rem
    }

    .c-main-header__trigger .c-icon {
        margin-bottom: -.46154rem
    }

    .c-user-info__data {
        display: inherit
    }

    .c-user-menu .c-letter {
        margin-top: -.15385rem
    }

    .c-user-menu__item {
        margin-left: 1.15385rem;
        max-width: none;
        height: 7.69231rem
    }

    .c-user-menu__item:first-child {
        margin-left: 0
    }

    .c-user-menu__link__img-icon {
        width: 4rem
    }

    .c-search {
        display: flex;
        justify-content: center
    }

    .c-search__trigger {
        display: none
    }

    .c-search__form {
        position: relative;
        width: 100%;
        max-width: 41.53846rem;
        margin: 0 2.30769rem;
        transform: none
    }

    .c-icon--bold {
        font-size: 3.2rem
    }

    .c-units {
        top: 1.53846rem;
        right: -.69231rem;
        border: 3px solid #fff;
        background: radial-gradient(ellipse at center, #ef4f4a 1%, #ef4f4a 98%, #fff 0, #fff 100%, #fff 0)
    }

    .c-letter {
        width: 3.07692rem;
        height: 3.07692rem;
        font-size: 1.69231rem
    }
}

@media(min-width:992px) {
    .c-user-menu__text {
        display: block
    }
}

@media(max-width:768px) {
    .c-user-menu__line {
        display: none
    }
}


