@charset "UTF-8";
.c-main-header {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px !important;
    padding: .5rem;
    padding-top: 0px !important;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 3.84615rem;
    border-top: .38462rem solid #4d94ff;
    background: #fff;
    box-shadow: 0 .23077rem .38462rem 0 rgba(0, 0, 0, .25)
}

.navbar-nav-icons {
display: flex;
    width: 400px !important;
-ms-flex-direction: column;
margin-right: 200px;
margin-bottom: 0;
padding-bottom: 0px;
list-style: none;
margin-top: 15px;
    padding-top: 0px !important;
    padding-left: 200px !important;
    
}
.glyphicon{
    font-size: 20px !important;
}


.primer{
    display: initial;
    justify-content: space-between;
    align-items: center;
    top: 0;
    margin: auto;
    width: 1000px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.c-main-header__col {
    position: absolute;
    display: initial;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.c-main-header__trigger {
    padding: 0;
    margin-top: 1px !important;
    margin-left: -80px !important;
    cursor: pointer;
    color: #4d94ff;
    border: 0;
    background: 0 0
}

.c-user-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: flex-end;
    margin-bottom: -.30769rem
}

.c-search__form {
    left: 200px !important;   
    bottom: 10px !important;
    transform: scale(0);
    margin-left: 50px !important;

}

.c-search__query {
    width: 100%;
    height: 3.38462rem;
    margin: 7px auto;
    padding-left: 3.38462rem;
    font-size: 1.15385rem;
    border: 2px solid #e1e1e1;
    border-radius: 1.76923rem
}

.c-search__query, .c-search__query:focus {
    background: #eee url(https://cdn.pccomponentes.com/img/css/lupa-buscador.png) 0 no-repeat
}


@media(min-width:768px) {
    .c-main-header {
        height: 5.09231rem
    }

    .c-main-header__back-btn.is-visible {
        margin: 0
    }

   

    .c-main-header__hor-sep {
        flex-grow: inherit
    }

    .c-main-header__col--start {
        flex-direction: inherit
    }

    .c-main-header__col--end {
        flex: 1
    }

    .c-main-header__fake-logo-image {
        margin-left: 1rem;
        width: 11.07692rem;
        height: 4.46154rem
    }

    .c-main-header__trigger {
        width: 3.53846rem;
        height: 3.38462rem;
        margin-left: 4.15385rem;
        border: 2px solid #ccc;
        border-radius: .45rem
    }

    .c-main-header__trigger .c-icon {
        margin-bottom: -.46154rem
    }


    .c-user-menu .c-letter {
        margin-top: -.15385rem
    }

    .c-user-menu__item {
        margin-left: 1.15385rem;
        max-width: none;
        height: 7.69231rem
    }

    .c-user-menu__item:first-child {
        margin-left: 0
    }

    .c-user-menu__link__img-icon {
        width: 4rem
    }

    .c-search__form {
       left: 200px !important;  
        width: 70%;
        margin: 0 2.30769rem;
        transform: none
    }

    .c-icon--bold {
        font-size: 3.2rem
    }

    .c-units {
        top: 1.53846rem;
        right: -.69231rem;
        border: 3px solid #fff;
        background: radial-gradient(ellipse at center, #ef4f4a 1%, #ef4f4a 98%, #fff 0, #fff 100%, #fff 0)
    }

    .c-letter {
        width: 3.07692rem;
        height: 3.07692rem;
        font-size: 1.69231rem
    }
}

.dropdown-menu>li {
 
    padding-bottom: 20px !important;
    
}
.navbar-tags:hover > .dropdown {
  display: block;
  color: transparent;
  text-decoration: none;
      color: black;
  text-decoration: none;
    left: -10% !important;
}

.navbar-default {
 background-color: transparent !important;
border-color: transparent !important;
}
.navbar {
border: none;
-webkit-box-shadow: transparent !important;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0);

}
.dropdown-menu {
  color: black;
  text-decoration: none;
    left: -19% !important;
}
.dropdown-menu-categories {
  color: black;
  text-decoration: none;
    left: -5% !important;
}

.dropdown {
    display: none;
         color: black;
  text-decoration: none;
    left: -1% !important;
}


.c-main-menu__superitem:hover .c-main-menu__superblock {
    margin-top: 2.5rem !important;
}
.c-main-menu__top-bar--sub {
    background: #4d94ff;
}
.c-main-menu__catname {
    background: #4d94ff;
}

.c-main-menu__supername:after, .c-main-menu__top-bar:after {
    background: transparent !important;
}

.c-main-menu__superitem:hover .c-main-menu__superblock {
    left: 12.5rem;
}
c-main-menu__supername, .c-main-menu__top-bar {
    background-color: #4d94ff;
    padding-left: 0px;
}