<div class="contenidorPerfil">
  <div class="contenidorTitol">
    <h3><b> SUBCATEGORIES </b></h3>
    <div class="row separacio">
      <div class="col-4">
        <button class="btn btn-success" (click)="tornar()">Tornar</button>
      </div>
    </div>
  </div>
  <div class="llistaInputs">

    <div class="row separacio">
      <div class="col-4"><button type="button" class="btn btn-success boto" routerLink="/admin/subcategories/create">Nova Subcategoria</button></div>
    </div>

    <!-- CATEGORIES -->
    <div class="row separacio">

      <div class="col-11">
        <div *ngFor="let subcategoria of subcategories" class="row separacio">
          <div class="col-7"><h4>{{subcategoria.name}}</h4></div>
          <button class="btn btn-warning col-2" [routerLink]="['/admin/subcategories/edit', subcategoria.id]"> Modificar</button>
          <button class="btn btn-danger col-2 botoDel" (click)="delete(subcategoria.id)" >Eliminar</button>
        </div>
      </div>

    </div>
    <!-- fi categories -->
  </div>
</div>
