<div class="background">
    <div *ngIf="afegit" class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Ben fet!</strong> Has afegit el producte al carro.
    </div>
  <div class="contenidor_imatge">
   <!-- src="https://img.pccomponentes.com/articles/13/135336/1.jpg" -->
     <img [src]="producte.imatge" style='width: 100%; object-fit: contain'>
  </div>
  
  <div class="contenidor_info">
   <div class="contenidro_preu"> 
    <div>
      <h1><b>{{producte.name}}</b></h1>
    </div>

    <div>
      <p style="font-size: 20px; display: inline-block;" *ngIf="producte.discount > 0">Abans:  </p>
      <p style="font-size: 20px; display: inline-block; margin-left: 5px;"> <del style="color:red" *ngIf="producte.discount > 0">{{producte.price}} € </del>
     
      
      <p *ngIf="producte.discount > 0" style="font-size: 20px; display: inline-block; margin-left: 20px;">Ara: {{producte.price  - producte.price * producte.discount/100}} €</p>
       <p style="font-size: 20px; display: inline-block;" *ngIf="producte.discount == 0">Preu: {{producte.price}} € </p>
    </div>
   </div> 

   <div class="contenidor_stats">
     <h3><b>Característiques</b></h3>
    <div>
     <div [innerHTML]="producte.description"></div>


    </div>

    <div class="contenidor_buttons">
      <button type="button" class="btn btn-outline-primary"(click)="addCart()">Afegir al carro</button>
      <button type="button" class="btn btn-primary"(click)="addCartComprar()">Comprar</button>
    </div>
    </div>
  </div>
  
  
</div>
