<div class="contenidorPerfil">
  <div class="llistaInputs">
  <div class="row separacio">
    <div class="col-md-5 "><h4>Nom</h4></div>
    <div class="col-7">
      <input type="text" class="form-control col-md-5" name="name" [(ngModel)]="categoria.name">
    </div>

  </div>
  <div class="row separacio">
    <div class="col-md-5 "><h4>Descripció</h4></div>
    <div class="col-7">
      <textarea type="text" class="form-control col-md-12" name="description" [(ngModel)]="categoria.description"></textarea>
    </div>
  </div>
  </div>

  <p *ngIf="errorName">El nom no pot ser inferior a 3 caràcters</p>
  <p *ngIf="errorDescription">La descripció no pot ser inferior a 3 caràcters</p>
  <p *ngIf="exist">Aquest nom ja existeix</p>

  <div class="row separacio">
    <button type="button" class="btn btn-success b_s" (click)="saveCategoria()">Guardar</button>
    <button type="button" class="btn btn-light" (click)="tornar()">Tornar</button>
  </div>
</div>