<div class="contenidorPerfil">
    <div class="contenidorTitol">
        <h3><b>PRODUCTES</b></h3>
    </div>
    <div class="llistaInputs">
       
       <div class="row separacio">
      
           <div class="col-4"><button type="button" class="btn btn-success boto" routerLink="/admin/productes/create">Nou producte</button></div>
        </div>
        
        <!-- CATEGORIES -->
               <div class="row separacio">

         <div class="col-11">

            <div *ngFor="let producte of productes" class="row separacio">
              <div class="col-7"><h4>{{producte.name}}</h4></div>
                    <button class="btn btn-warning col-2" [routerLink]="['/admin/productes/edit', producte.id]"> Modificar</button>
                   <button class="btn btn-danger col-2 botoDel" (click)="delete(producte.id)" >Eliminar</button>
                </div>
        </div>
                   
        </div>
        <!-- fi categories -->
    </div>