<div class="contenidorPerfil">
  <div class="contenidorTitol">
    <h3><b>Qui som</b></h3>
  </div>
  <div class="llistaInputs">

    <div class="row">
        <div class="col">
          El 2005 neix ECcomponents, dins del grup UVICShurs , i, des del primer moment, apostem pel canal en línia com el nostre principal focus de negoci. Una cosa que en aquells anys era encara difícil d'assimilar, aviat es va convertir en la nostra principal senya d'identitat.
          L'esperit pel qual es crea ECcomponents és per poder oferir a tots els amants de la tecnologia dels millors components a preus assequibles, sense renunciar a la qualitat ni a un bon servei postvenda.
        </div>
        <div class="col">
          Mantenir el caràcter del petit comerç, la proximitat amb el client, el tracte personalitzat són les premisses sobre les quals gira la nostra filosofia. Aquestes màximes ens van fer pujar fins convertir-nos en un referent web de venda en línia de productes informàtics a Catalunya.
          Arribats a aquest punt, només podem agrair la confiança dipositada en nosaltres i l'esforç de tota la gent que ha passat per aquí per fer que ECcomponents fos, sigui i segueixi sent, la botiga informàtica de referència a Catalunya.
        </div>
    </div>
    
    
  
  
    </div>
</div>