.contenidorPerfil {
    /*background-color:blue;*/
    width: 70%;
    height:100%;
    margin: auto;
    margin-top: 40px;
}
.contenidorTitol {
    /*background-color:blue;*/
    width: 100%;
    margin: auto;
    border-bottom: 1px solid;
    border-color: #4D94FF;
}
.llistaInputs {

    margin: auto;
    margin-top: 40px;
}
.llistaInputs h4{
    /*text-align: center;*/
}

.separacio{
    margin-top: 20px;
}
.boto{
    font-size: large;
    padding: 20px 20px 20px 20px;
    margin-top: 2px;
}
.marge{
    margin-left: 15px;
}
.botoDel{
    margin-left: 10px;
}


.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.blanc{
    color: #ffffff!important;

}


.background{
  height:auto;
  width: 60%;
  margin: 10px auto;
  vertical-align: top;
}

.contenidor_titol{
  border-bottom: 1px solid;
  border-color: #4D94FF;
}

.contenidor_productes{
  border-bottom: 1px solid;
  border-color: #4D94FF;
}

.nom{ 
  width: 49%;
  display: inline-block;
}
.cantitat{
  width: 49%;
  display: inline-block;
  text-align: right;
}

input{
  text-align: center;
  background-color: #4D94FF;
  border-radius: 3px;
  color: black;
}

textarea{
  border-bottom: 1px solid;
  border-color: black; 
}

.qtt_prod_show{
  display: inline-block;
}

.qtt_prod{
  display: inline-block;
  margin-right: 10px;
}

.botons_compra{
  width: 100%;
}

.btn{
  color: white;
  width: 40%;
  padding: .875rem .75rem;
  display: inline-block;
  margin-left: 8.5%;
}

.btn-light{
  color: black;
}

.preu_final{
  width: 40%;
  margin-left: 30%;
  text-align: center;
  text-decoration: bold;
}

h4{
  display:inline-block;
  margin-right: 5px;
}