
<div class="background">
 
  <div class="contenidor_anunci">
    <img src="https://www.sistart.com.uy/img/banner_epsonecotank.jpg" id="imatge_banner" style='max-height: 300px; width: 100%; object-fit: contain'/>
  </div>
  
  <div class="contenidor_ultimes_novetats">
   <div class="contenidorTitol">
     <h3>Últimes <b>Novetats</b></h3>
   </div>


    <div class="contenidor_productes">
      <div class="contenidor_info_producte" *ngFor="let producte of productes">
        <div class="contenidor_imatge_producte">
          <img style="height: 180px !important; margin-left: auto;	margin-right: auto;	display: block;" [src]="producte.image" class="img-fluid" alt="Responsive image">
        </div>
        <div class="nom_producte">
          <p>{{producte.name}}</p>
        </div>
        <div class="preu_producte">
            <p *ngIf="producte.discount == 0">&nbsp;</p>
            <p><del style="color:red" *ngIf="producte.discount > 0"><strong>{{producte.price}}€</strong></del></p>
            <p *ngIf="producte.discount > 0"><strong>{{producte.price  - producte.price * producte.discount/100}}€ </strong> Descompte {{producte.discount}}%</p>
            <p *ngIf="producte.discount == 0"><strong>{{producte.price}}€</strong></p>
        </div>
        <div class="detall_producte">
          <button type="button" [routerLink]="['/producte/',producte.name]" class="btn btn-primary">Detall Producte</button>
        </div>                 
      </div>
    </div>
  </div>
  
  <div class="contenidor_final_stock">
   
   <div class="contenidorTitol">
     <h3>Final <b>Stock</b></h3>
   </div>

      <div class="contenidor_productes">
          <div class="contenidor_info_producte" *ngFor="let producte of productesStock">
              <div class="contenidor_imatge_producte">
                  <img style="height: 180px !important; margin-left: auto;	margin-right: auto;	display: block;" [src]="producte.image" class="img-fluid" alt="Responsive image">
              </div>
              <div class="nom_producte">
                  <p>{{producte.name}}</p>
              </div>
              <div class="preu_producte">
                  <p *ngIf="producte.discount == 0">&nbsp;</p>
                  <p><del style="color:red" *ngIf="producte.discount > 0"><strong>{{producte.price}}€</strong></del></p>
                  <p *ngIf="producte.discount > 0"><strong>{{producte.price  - producte.price * producte.discount/100}}€ </strong> Descompte {{producte.discount}}%</p>
                  <p *ngIf="producte.discount == 0"><strong>{{producte.price}}€</strong></p>
              </div>
              <div class="detall_producte">
                  <button type="button" [routerLink]="['/producte/',producte.name]" class="btn btn-primary">Detall Producte</button>
              </div>
          </div>
      </div>
  </div>
  
</div>