
<div class="background">
 
  <div class="contenidor_anunci">
    <img src="images/imatge_publicitat_web.PNG" class="img-fluid" alt="Responsive image">
  </div>
  
  <div class="contenidor_ultimes_novetats">
   <div class="contenidorTitol">
     <h3>Últimes <b>Novetats</b></h3>
   </div>
    
    <div class="contenidor_productes">
      
      <div class="contenidor_info_producte">
        <div class="contenidor_imatge_producte">
          <img src="" class="img-fluid" alt="Responsive image">
        </div>
        <div class="nom_producte">
          <p>nom producte</p>
        </div>
        <div class="preu_producte">
          <p>preu producte</p>
        </div>
        <div class="detall_producte">
          <button type="button" class="btn btn-primary">Detall Producte</button>
        </div>                 
      </div>
           
           <div class="contenidor_info_producte">
        <div class="contenidor_imatge_producte">
          <img src="" class="img-fluid" alt="Responsive image">
        </div>
        <div class="nom_producte">
          <p>nom producte</p>
        </div>
        <div class="preu_producte">
          <p>preu producte</p>
        </div>
        <div class="detall_producte">
          <button type="button" class="btn btn-primary">Detall Producte</button>
        </div>                 
      </div>
           
           <div class="contenidor_info_producte">
        <div class="contenidor_imatge_producte">
          <img src="" class="img-fluid" alt="Responsive image">
        </div>
        <div class="nom_producte">
          <p>nom producte</p>
        </div>
        <div class="preu_producte">
          <p>preu producte</p>
        </div>
        <div class="detall_producte">
          <button type="button" class="btn btn-primary">Detall Producte</button>
        </div>                 
      </div>
           
           <div class="contenidor_info_producte">
        <div class="contenidor_imatge_producte">
          <img src="" class="img-fluid" alt="Responsive image">
        </div>
        <div class="nom_producte">
          <p>nom producte</p>
        </div>
        <div class="preu_producte">
          <p>preu producte</p>
        </div>
        <div class="detall_producte">
          <button type="button" class="btn btn-primary">Detall Producte</button>
        </div>                 
      </div>
            
    </div>
  </div>
  
  <div class="contenidor_final_stock">
   
   <div class="contenidorTitol">
     <h3>Final <b>Stock</b></h3>
   </div>

    <div class="contenidor_productes">
     
     <div class="contenidor_info_producte">
        <div class="contenidor_imatge_producte">
          <img src="" class="img-fluid" alt="Responsive image">
        </div>
        <div class="nom_producte">
          <p>nom producte</p>
        </div>
        <div class="preu_producte">
          <p>preu producte</p>
        </div>
        <div class="detall_producte">
          <button type="button" class="btn btn-primary">Detall Producte</button>
        </div>                 
      </div>
      
    </div>
  </div>
  
</div>