<div class="contenidorPerfil">
  <div class="contenidorTitol">
    <h3><b>Panel de control</b></h3>
  </div>
  <div class="llistaInputs">

    <div class="row separacio">
      <div class="col-4"><button type="button" class="btn btn-success boto" routerLink="/user/profile">Perfil</button></div>
    </div>
    <div class="row separacio">
      <div class="col-4"><button type="button" class="btn btn-success boto" routerLink="/user/orders/">Ordres</button></div>
    </div>

    <!-- CATEGORIES -->
    <div class="row separacio">

      <div class="col-11">

      </div>

    </div>
    <!-- fi categories -->
  </div>
</div>