<div>
  <div *ngFor="let producte of products" >
    <h5>{{producte.name}}</h5>
    <h6>{{producte.price - producte.price * producte.discount/100}} €</h6>
    <input type="number" [ngModel]="producte.count" disabled/>
    <i class="fas fa-plus" (click)="actionProduct('add',producte)"></i>
    <i class="fas fa-minus" (click)="actionProduct('remove',producte)"></i>
    <i class="fas fa-times" (click)="actionProduct('delete',producte)"></i>
  </div>
  <h4>Total price {{totalPrice}}</h4>
  <button><a routerLink="/checkout">Comprar</a></button>
</div>